<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
    bootstrap="tests/bootstrap.php"
>
    <extensions>
        <bootstrap class="RobinIngelbrecht\PHPUnitPrettyPrint\PhpUnitExtension">
        </bootstrap>
    </extensions>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Dense">
            <directory>tests/Dense</directory>
        </testsuite>
        <testsuite name="Sparse">
            <directory>tests/Sparse</directory>
        </testsuite>
        <testsuite name="Hybrid">
            <directory>tests/Hybrid</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <!-- For testing dense index -->
        <env name="DENSE_UPSTASH_VECTOR_REST_URL" value="https://vector.upstash.com" />
        <env name="DENSE_UPSTASH_VECTOR_REST_TOKEN" value="test-token" />
        <!-- For testing dense index with embedding -->
        <env name="DENSE_EMBEDDING_UPSTASH_VECTOR_REST_URL" value="https://vector.upstash.com" />
        <env name="DENSE_EMBEDDING_UPSTASH_VECTOR_REST_TOKEN" value="test-token" />
        <!-- For testing sparse index -->
        <env name="SPARSE_UPSTASH_VECTOR_REST_URL" value="https://vector.upstash.com" />
        <env name="SPARSE_UPSTASH_VECTOR_REST_TOKEN" value="test-token" />
        <!-- For testing hybrid index -->
        <env name="HYBRID_UPSTASH_VECTOR_REST_URL" value="https://vector.upstash.com" />
        <env name="HYBRID_UPSTASH_VECTOR_REST_TOKEN" value="test-token" />
    </php>
</phpunit>
